@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
	@apply bg-black;
}

*,
*::before,
*::after {
	font-family: "Fira Code", monospace;
}

html {
	@media (min-width: 1920px) {
		font-size: 20px;
	}

	@media (min-width: 2560px) {
		font-size: 24px;
	}

	@media (min-width: 3000px) {
		font-size: 28px;
	}

	@media (min-width: 3840px) {
		font-size: 32px;
	}
}

@layer components {
	.scroll-container {
		@apply absolute bottom-0 left-0 right-0 top-14;
	}
}

@layer utilities {
	.focus-styles {
		@apply outline-none outline-offset-[-2px] focus:outline-2 focus:outline-accent-teal;
	}
}
